<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style2.css">
    </head>
    <body>
    <div id="Guest_Lists">
        <div class="topBar">
            <div id="Eventually_">
                <span>Event</span><span style="font-style:normal;font-weight:normal;">ually.</span>
            </div>
            <!--<ul>
                <li><a href="admin.html">Admin</a></li>
            </ul>
            <ul>
                <li><a href="/">The Clubhou.se</a></li>
            </ul>-->
        </div>
        <table>
            <thead class="Beer_Bytes_Head">
                <tr>
                    <th id="Beer_Bytes_Title">Beer & Bytes</th>
                </tr>
            </thead>
            <tbody class="Beer_Bytes_Box">
                <tr>
                    <td id="beer_bytes_list"><%= event1 %></td>
                </tr>
            </tbody>
        </table>

        <table>
            <thead class="One_Million_Head">
                <tr>
                    <th id="One_Million_Title">1 Million Cups</th>
                </tr>
            </thead>
            <tbody class="One_Million_Box">
                <tr>
                    <td><%= event2 %></td>
                </tr>
            </tbody>
        </table>

        <table>
            <thead class="Augusta_Dev_Head">
                <tr>
                    <th id="Augusta_Dev_Title">Augusta Developer</th>
                </tr>
            </thead>
            <tbody class="Augusta_Dev_Box">
                <tr>
                    <td><%= event3 %></td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="GroupProject.js"></script>   
    </body>
</html>
